.group-select-container {
    margin-top: 1rem;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px 1px grey;
    width: 20rem;
}

.selected-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.selected-group-name {
    font-size: 1.6rem;
    font-weight: bold;
    user-select: none;
}

.selected-group-avatar {
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 1.5rem;
    object-fit: cover;
    border: 2px solid white;
    flex-shrink: 0;
}

.group-dropdown-list {
    border: 1px solid grey;
    width: 20rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

.group-dropdown-item {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    box-sizing: border-box;
}

.group-avatar {
    width: 6.6rem;
    height: 6.6rem;
}
.group-info {
    display: flex;
    flex-direction: column;
}
.group-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.placeholder {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.placeholder-avatar {
    width: 6.6rem;
    height: 6.6rem;
}

.group-select:hover {
    cursor: pointer;
}

.selected-group:hover {
    border-color: white
}

.group-dropdown-item:hover {
    background-color: rgb(147, 147, 147);
}